body {
  background-color: #fafbfe;
  box-sizing: border-box;
}

.holder {
  margin-top: 25vh;
  text-align: center;
  padding: 0 1rem;
}

.box {
  background-color: white;
  max-width: 500px;
  margin: 3rem auto;
  padding: 1rem;
}

.purple-btn {
  background-color: #737df5;
  border-color: #737df5;
}

.purple-btn:hover {
  background-color: #4f5cf2;
  border-color: #4f5cf2;
}

.red-btn {
  background-color: #fa5c7c;
  border-color: #fa5c7c;
}

.red-btn:hover {
  background-color: #f9375e;
  border-color: #f9375e;
}

.yellow-btn {
  background-color: #ffbc00;
  border-color: #ffbc00;
}

.yellow-btn:hover {
  background-color: #d9a000;
  border-color: #d9a000;
}
